body {
  height: 90vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.calc-body {
  display: flex;
  flex-direction: column;
  background-color: silver;
  padding: 3px;
  border: 2px solid black;
  width: 26vh;
  height: 36vh;
}

.screen {
  display: flex;
  justify-content: flex-end;
  padding: 4%;
  margin: 2%;
  flex-grow: 1;
  background-color:rgb(198, 228, 192);
  color: rgb(1, 36, 1);
}

.input-area {
  margin: 15px 6px -35%;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15%  15% 15% 15% 15%;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
