body {
  height: 90vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.calc-body {
  display: flex;
  flex-direction: column;
  background-color: silver;
  border-radius: 4%;
  padding: 3px;
  border: 2px solid black;
  width: 26vh;
  height: 36vh;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: larger;
  padding: 4%;
  margin: 2%;
  flex-grow: 1;
  background-color:rgb(198, 228, 192);
  color: rgb(1, 36, 1);
  min-height: 20px;
  border-color: black;
  border-style: inset;
  border-width: 2px;
}

.prev {
  color: rgb(43, 43, 43);
  font-size: small;
}

.input-area {
  margin: 15px 6px -32%;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15%  15% 15% 15% 15%;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input {
   border-radius: 6%;
   border-color: black;
}

.number {
  background-color: rgb(118, 184, 184);
}

.dec, .mod {
  background-color:  #7f9faa;
}

.eval {
  background-color: cornflowerblue;
}

.opr {
  background-color: #ff9f55;
}

.clear, .sClear{
  background-color: #559faa;
}